.container{
  background-color: #494D5F;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#drum-machine{
  height: 50%;
  width: 30%;
  background-color: #E5EAF5;
  border-radius: 20px;
}

#display{
  color: black;
  background-color: #E5EAF5;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-radius: 20px;
}

#drum-keys{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
}

.drumpad button{
  background-color: #494D5F;
  border: 3px solid #a0d2eb;
  color: white;
  height: 120px;
  width: 120px;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: 'Raleway';
  font-weight: bold;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.drumpad button:hover{
  opacity: .9;
}

.drumpad button:active{
  background-color: #a0d2eb;
}

#audio{
  display: none;
}

